# JetBrains
.idea/*

# VSCode
.vscode/*
.history/
*.vsix

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
coverage.html

# MacOS
tmp/
tmp2/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
